

@media screen and (max-width: 768px) {
    .interactive_image{
        height: 600px;
        width: 300px;
        text-align: center;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .interactive_image{
        height: 800px;
        width: 500px;
        text-align: center;
    }
  }


  @media screen and (min-width: 992px) {
    .interactive_image{
        height: 800px;
        width: 500px;
        text-align: center;
    }
  }